<div class="profile-container">
    <h1>Perfil de Estudiante</h1>
    
    <div class="profile-photo">
      <img [src]="avatarURL" alt="Foto de perfil" />
    </div>
  
    <input type="file" (change)="onImageChange($event)" accept="image/*">
    
    <div class="profile-info">
      <label>Nombre: </label> <span>{{ studentName }}</span><br>
      <label>ID: </label> <span>{{ studentId }}</span><br>
      <label>Fecha: </label> <span>{{ date }}</span><br>
      <label>Teléfono: </label> <span>{{ phone }}</span><br>
    </div>
  
    <button (click)="checkOnlineStatus()">¿Estoy en línea?</button>
   
  </div>
  