<div class="profile-container">
  <div class="file-upload-container">
    <button (click)="triggerFileInput()">Cambiar Foto</button>
    <input type="file" (change)="onImageChange($event)" accept="image/*" #fileInput hidden>
  </div>
  <div class="profile-photo">
    <img *ngIf="avatarURL" [src]="avatarURL" alt="Avatar">
  </div>

  <div class="profile-info">
    <table>
      <tr>
        <td><strong>Nombre:</strong></td>
        <td>{{ studentName }}</td>
      </tr>
      <tr>
        <td><strong>ID:</strong></td>
        <td>{{ studentId }}</td>
      </tr>
      <tr>
        <td><strong>Fecha:</strong></td>
        <td>{{ date }}</td>
      </tr>
      <tr>
        <td><strong>Teléfono:</strong></td>
        <td>{{ phone }}</td>
      </tr>
      <tr>
        <td><strong>Estado:</strong></td>
        <td [ngClass]="{'activo': isActivo, 'inactivo': !isActivo}">{{ isActivo ? 'En línea' : 'Fuera de línea' }}</td>
      </tr>
    </table>
  </div>

  <button (click)="checkOnlineStatus()">Actualizar Estado</button>
  <br>
  <button (click)="showSubjectsPopup()">Ver Materias</button>
  <br>
  <button (click)="showInasistencias()">Ver Inasistencias</button>

  <!-- Popup de materias -->
  <div *ngIf="showPopup" class="popup">
    <h2>Materias</h2>
    <table>
      <thead>
        <tr>
          <th>Materia</th>
          <th>Estado</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let subject of subjects">
          <td>{{ subject.nombre }}</td>
          <td>{{ subject.status }}</td>
        </tr>
      </tbody>
    </table>
    <button (click)="closePopup()">Cerrar</button>
  </div>

  <!-- Popup de inasistencias -->
  <div *ngIf="showInasistenciasPopup" class="popup">
    <h2>Inasistencias</h2>
    <table>
      <thead>
        <tr>
          <th>Fecha</th>
          <th>Materia</th>
          <th>Motivo</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let inasistencia of inasistencias">
          <td>{{ inasistencia.fecha }}</td>
          <td>{{ inasistencia.materia_nombre }}</td>
          <td>{{ inasistencia.motivo }}</td>
        </tr>
      </tbody>
    </table>
    <button (click)="closeInasistenciasPopup()">Cerrar</button>
  </div>
</div>
