<div class="container">
  <h1>Gestión de Estudiantes y Profesores</h1>

  <div class="row mt-5">
    <div class="col-md-6">
      <!-- Obtener información del profesor -->
      <h2>Obtener Información del Profesor</h2>
      <div class="form-group">
        <label for="teacherId">ID del Profesor:</label>
        <input type="text" class="form-control" id="teacherId" [(ngModel)]="teacherId" name="teacherId">
        <button type="button" class="btn btn-primary mt-2" (click)="onSubmitTeacher()">Iniciar sesion</button>
      </div>
      <div *ngIf="teacher" class="mt-3">
        <h3>Información del Profesor:</h3>
        <p><strong>Nombre:</strong> {{ teacher.nombre }}</p>
        <p><strong>Documento de Identidad:</strong> {{ teacher.documento_identidad }}</p>
        <p><strong>Fecha de Nacimiento:</strong> {{ teacher.fecha_nacimiento | date }}</p>
        <p><strong>Teléfono:</strong> {{ teacher.telefono }}</p>
        <p><strong>Estado:</strong> {{ teacher.status }}</p>
      </div>
      <div *ngIf="teacherErrorMessage" class="alert alert-danger mt-2">{{ teacherErrorMessage }}</div>

      <!-- Botón para abrir el modal de registro de profesor -->
      <button type="button" class="btn btn-success mt-3" (click)="openTeacherModal()" data-bs-toggle="modal" data-bs-target="#teacherModal">Registrar Profesor</button>
    </div>

    <div class="col-md-6">
      <!-- Obtener información del estudiante -->
      <h2>Obtener Información del Estudiante</h2>
      <div class="form-group">
        <label for="studentId">ID del Estudiante:</label>
        <input type="text" class="form-control" id="studentId" [(ngModel)]="studentId" name="studentId">
        <button type="button" class="btn btn-primary mt-2" (click)="onSubmitStudent()">Obtener Estudiante</button>
      </div>
      <div *ngIf="student" class="mt-3">
        <h3>Información del Estudiante:</h3>
        <p><strong>Nombre:</strong> {{ student.nombre }}</p>
        <p><strong>Documento de Identidad:</strong> {{ student.documento_identidad }}</p>
        <p><strong>Fecha de Nacimiento:</strong> {{ student.fecha_nacimiento | date }}</p>
        <p><strong>Teléfono:</strong> {{ student.telefono }}</p>
        <p><strong>Estado:</strong> {{ student.status }}</p>
      </div>
      <div *ngIf="studentErrorMessage" class="alert alert-danger mt-2">{{ studentErrorMessage }}</div>

      <!-- Botón para abrir el modal de registro de estudiante -->
      <button type="button" class="btn btn-success mt-3" (click)="openStudentModal()" data-bs-toggle="modal" data-bs-target="#studentModal">Registrar Estudiante</button>
    </div>
  </div>

  <!-- Modal de Registro de Profesor -->
  <div class="modal fade" id="teacherModal" tabindex="-1" aria-labelledby="teacherModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="teacherModalLabel">Registrar Profesor</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form (ngSubmit)="onSubmitNewTeacher()">
            <!-- Campos del formulario para profesor -->
            <div class="form-group">
              <label for="newTeacherId">Documento de Identidad:</label>
              <input type="text" class="form-control" id="newTeacherId" [(ngModel)]="newTeacher.documento_identidad" name="newTeacherId" required>
            </div>
            <div class="form-group">
              <label for="newTeacherName">Nombre:</label>
              <input type="text" class="form-control" id="newTeacherName" [(ngModel)]="newTeacher.nombre" name="newTeacherName" required>
            </div>
            <div class="form-group">
              <label for="newTeacherBirthDate">Fecha de Nacimiento:</label>
              <input type="date" class="form-control" id="newTeacherBirthDate" [(ngModel)]="newTeacher.fecha_nacimiento" name="newTeacherBirthDate" required>
            </div>
            <div class="form-group">
              <label for="newTeacherPhone">Teléfono:</label>
              <input type="text" class="form-control" id="newTeacherPhone" [(ngModel)]="newTeacher.telefono" name="newTeacherPhone">
            </div>
            <div class="form-group">
              <label for="newTeacherStatus">Estado:</label>
              <select class="form-control" id="newTeacherStatus" [(ngModel)]="newTeacher.status" name="newTeacherStatus">
                <option value="activo">Activo</option>
                <option value="inactivo">Inactivo</option>
              </select>
            </div>
            <button type="submit" class="btn btn-primary mt-2">Registrar Profesor</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal de Registro de Estudiante -->
  <div class="modal fade" id="studentModal" tabindex="-1" aria-labelledby="studentModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="studentModalLabel">Registrar Estudiante</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form (ngSubmit)="onSubmitNewStudent()">
            <!-- Campos del formulario para estudiante -->
            <div class="form-group">
              <label for="newStudentId">Documento de Identidad:</label>
              <input type="text" class="form-control" id="newStudentId" [(ngModel)]="newStudent.documento_identidad" name="newStudentId" required>
            </div>
            <div class="form-group">
              <label for="newStudentName">Nombre:</label>
              <input type="text" class="form-control" id="newStudentName" [(ngModel)]="newStudent.nombre" name="newStudentName" required>
            </div>
            <div class="form-group">
              <label for="newStudentBirthDate">Fecha de Nacimiento:</label>
              <input type="date" class="form-control" id="newStudentBirthDate" [(ngModel)]="newStudent.fecha_nacimiento" name="newStudentBirthDate" required>
            </div>
            <div class="form-group">
              <label for="newStudentPhone">Teléfono:</label>
              <input type="text" class="form-control" id="newStudentPhone" [(ngModel)]="newStudent.telefono" name="newStudentPhone">
            </div>
            <div class="form-group">
              <label for="newStudentStatus">Estado:</label>
              <select class="form-control" id="newStudentStatus" [(ngModel)]="newStudent.status" name="newStudentStatus">
                <option value="activo">Activo</option>
                <option value="inactivo">Inactivo</option>
              </select>
            </div>
            <button type="submit" class="btn btn-primary mt-2">Registrar Estudiante</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>