<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario Centrado</title>
</head>
<body>

<div class="form-container">
    <form class="w-50">
        <h2 class="text-center mb-4">Verificacion Tipo Persona</h2>
        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInput" placeholder=" " required aria-describedby="emailHelp">
            <label for="floatingInput">Email address</label>
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="form-floating mb-3">
            <input type="password" class="form-control" id="floatingPassword" placeholder=" " required aria-describedby="passwordHelp">
            <label for="floatingPassword">ID</label>
            <div id="passwordHelp" class="form-text">Your ID must be 10 characters long.</div>
        </div>
        
        <button type="submit" class="btn btn-primary w-100">Login</button>
    </form>
</div>


</body>
</html>
