#map {
    height: 4000px; /* Altura del mapa */
    width: 100%; /* Ancho completo */
    border: 2px solid #4CAF50; /* Borde verde */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave alrededor */
    transition: all 0.3s ease-in-out; /* Transición suave */
}

#map:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada al hacer hover */
    transform: scale(1.02); /* Efecto de zoom suave al pasar el mouse */
}
