<div class="container">
  <header>
    <h1>Bienvenido, Profesor</h1>
    <p>Complete el formulario para agregar una nueva materia</p>
  </header>
  <div class="content">
    <form id="materiaForm">
      <table>
        <thead>
          <tr>
            <th colspan="2">Detalles de la Materia</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><label for="nombre">Nombre:</label></td>
            <td><input type="text" [(ngModel)]="nuevaMateria.nombre" name="nombre" id="nombre" placeholder="Nombre de la materia" required></td>
          </tr>
          <tr>
            <td><label for="descripcion">Descripción:</label></td>
            <td><input type="text" [(ngModel)]="nuevaMateria.descripcion" name="descripcion" id="descripcion" placeholder="Descripción"></td>
          </tr>
          <tr>
            <td><label for="semestre">Semestre:</label></td>
            <td><input type="text" [(ngModel)]="nuevaMateria.semestre" name="semestre" id="semestre" placeholder="Semestre"></td>
          </tr>
          <tr>
            <td><label for="fecha_inicio">Fecha de Inicio:</label></td>
            <td><input type="date" [(ngModel)]="nuevaMateria.fecha_inicio" name="fecha_inicio" id="fecha_inicio"></td>
          </tr>
          <tr>
            <td><label for="status">Estado:</label></td>
            <td>
              <select [(ngModel)]="nuevaMateria.status" name="status" id="status">
                <option value="activo">Activo</option>
                <option value="inactivo">Inactivo</option>
              </select>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="button-container">
        <button type="button" (click)="agregarMateria()">Agregar Materia</button>
        <span class="error-message" *ngIf="errorMateria">{{ errorMateria }}</span>
        <span class="success-message" *ngIf="estadoNuevaMateria">{{ estadoNuevaMateria }}</span>
      </div>
    </form>
  </div>
</div>
