<div class="container">
  <header>
    <h1>Bienvenido, Profesor</h1>
    <p>Complete el formulario para agregar una nueva materia</p>
  </header>
  <div class="content">
    <form id="materiaForm">
      <table>
        <thead>
          <tr>
            <th colspan="2">Detalles de la Materia</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><label for="nombre">Nombre:</label></td>
            <td><input type="text" [(ngModel)]="nuevaMateria.nombre" name="nombre" id="nombre" placeholder="Nombre de la materia" required></td>
          </tr>
          <tr>
            <td><label for="descripcion">Descripción:</label></td>
            <td><input type="text" [(ngModel)]="nuevaMateria.descripcion" name="descripcion" id="descripcion" placeholder="Descripción"></td>
          </tr>
          <tr>
            <td><label for="semestre">Semestre:</label></td>
            <td><input type="text" [(ngModel)]="nuevaMateria.semestre" name="semestre" id="semestre" placeholder="Semestre"></td>
          </tr>
          <tr>
            <td><label for="fecha_inicio">Fecha de Inicio:</label></td>
            <td><input type="date" [(ngModel)]="nuevaMateria.fecha_inicio" name="fecha_inicio" id="fecha_inicio"></td>
          </tr>
          <tr>
            <td><label for="status">Estado:</label></td>
            <td>
              <select [(ngModel)]="nuevaMateria.status" name="status" id="status">
                <option value="activo">Activo</option>
                <option value="inactivo">Inactivo</option>
              </select>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="button-container">
        <button type="button" (click)="agregarMateria()">Agregar Materia</button>
        <button type="button" (click)="toggleInasistenciaForm()">Agregar Inasistencia</button>
        <button type="button" (click)="obtenerEstudiantes()">Lista</button>
        <span class="error-message" *ngIf="errorMateria">{{ errorMateria }}</span>
        <span class="success-message" *ngIf="estadoNuevaMateria">{{ estadoNuevaMateria }}</span>
      </div>
    </form>
  </div>

  <!-- Pantalla flotante para agregar inasistencia -->
  <div *ngIf="mostrarFormularioInasistencia" class="modal">
    <div class="modal-content">
      <h2>Agregar Inasistencia</h2>
      <form (ngSubmit)="agregarInasistencia()">
        <label for="fechaInasistencia">Fecha:</label>
        <input type="date" [(ngModel)]="inasistencia.fecha" id="fechaInasistencia" name="fechaInasistencia">
        
        <label for="estudianteNombre">Estudiante:</label>
        <input type="text" [(ngModel)]="inasistencia.estudiante_nombre" id="estudianteNombre" name="estudianteNombre" required>
        
        <label for="materiaNombre">Materia:</label>
        <input type="text" [(ngModel)]="inasistencia.materia_nombre" id="materiaNombre" name="materiaNombre" required>
        
        <label for="motivo">Motivo:</label>
        <textarea [(ngModel)]="inasistencia.motivo" id="motivo" name="motivo"></textarea>
        
        <button type="submit">Agregar Inasistencia</button>
        <button type="button" (click)="toggleInasistenciaForm()">Cerrar</button>
      </form>
    </div>
  </div>

  <!-- Pantalla flotante para mostrar estudiantes -->
  <div *ngIf="mostrarListaEstudiantes" class="modal">
    <div class="modal-lista-estudiantes">
      <h2>Lista de Estudiantes</h2>
      <ul>
        <li *ngFor="let estudiante of estudiantes">
          {{ estudiante.nombre }} - {{ estudiante.status }}
        </li>
      </ul>
      <button type="button" (click)="mostrarListaEstudiantes = false">Cerrar</button>
    </div>
  </div>
</div>
